/* Menu Animation ------------------------------------------------*/

nav {
  text-align: right;
}

nav > ul {
  list-style: none;
  padding: 0;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  margin-top: 18px;
}

nav ul > li {
  float: left;
  width: 150px;
  height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

ul.drop-menu li a {
  color: white;
}

ul.menu li > a {
  color: white;
  font-family: ralewayextrabold, sans-serif;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: -10px;
}

.menu li:hover ul:before {
  content: '';
  position: absolute;
  top: -35px;
  left: 53px;
  border: 20px solid transparent;
  border-bottom: 20px solid black;
}

ul.drop-menu li {
  font-size: 12px;
  background: black;
  color: white;
  padding-top: 15px;
  &:hover {
    background: black;
  }
  &:last-child {
    border-radius: 0px 0px 5px 5px;
  }
}

//Default Trigger

ul.drop-menu li {
  display: none;
}

li:hover > ul.drop-menu li {
  display: block;
}

li:hover > ul.drop-menu {
  perspective: 1000px;

  li {
    opacity: 0;
    transform-origin: top right;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation: {
          name: menuReverse;
          duration: 350ms;
          delay: (200ms * $i) - 300;
          transition-timing-function: ease-in-out;
          fill-mode: forwards;
        }

      }
    }
  }
}

@keyframes menuReverse {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);

  }
  30% {
    transform: rotateX(50deg);

  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

/*END Menu Animation -----------------------------------------------*/

/* Box from Catalog Animation ------------------------------------------------*/

.first_box {
  float: left;
  margin-top: 40px;
  width: 30%;
  height: 235px;
  background-image: url("../images/box1_img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.first_box p {
  font-size: 20px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.49);
  &.is-watching {
    animation-name: myframe1;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.89, 0.43);
    animation-delay: 0s;
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-fill-mode: forwards;

  }
  &.no-watching {
    animation-name: myframe1;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.89, 0.43);
    animation-delay: 0s;
    animation-iteration-count: unset;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }
}

.second_box {
  float: left;
  margin-top: 40px;
  width: 30%;
  height: 235px;
  background-image: url("../images/box2_img.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 3%;
  position: relative;
}

.second_box p {
  font-size: 20px;
  position: absolute;
  bottom: 25px;
  width: 100%;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.49);
  &.is-watching {
    animation-name: myframe2;
    animation-duration: 900ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.89, 0.43);
    animation-delay: 0s;
    animation-iteration-count: unset;
    animation-direction: normal;
    animation-fill-mode: forwards;

  }
  &.no-watching {
    animation-name: myframe2;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0.42, 0, 0.89, 0.43);
    animation-delay: 0s;
    animation-iteration-count: unset;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }
}

@keyframes myframe1 {
  0% {
    width: 100%;
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    width: 40%;
    opacity: 0;
  }
}

@keyframes myframe2 {
  0% {
    width: 100%;
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    width: 50%;
    opacity: 0;
  }
}

/*END  Box from Catalog Animation ------------------------------------------------*/
